<div class="row">
    <h3>Proyectos</h3>
    <br><br><br>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parteTexto">
            <h5><strong>Landing Page</strong></h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quod eveniet nobis quas vel alias excepturi nesciunt quos, soluta incidunt! Quisquam officia atque quasi molestias quas. Earum sit aliquam rem!</p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parteImagen">
            <img src="../../../assets/Proyecto2.png" class="img-fluid img-proyecto">
        </div>
    </div>


</div>

<div class="row">
    <br><br><br>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parteTexto">
            <h5><strong>Portfolio</strong></h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quod eveniet nobis quas vel alias excepturi nesciunt quos, soluta incidunt! Quisquam officia atque quasi molestias quas. Earum sit aliquam rem!</p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parteImagen">
            <img src="../../../assets/Proyecto1.png" class="img-fluid img-proyecto">
        </div>
    </div>


</div>
