
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto-perfil.jpg" class="img-fluid" id="imagenPerfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p class="nombre">Facundo López</p>
            <p>Full Stack Developer Jr</p>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acercaDe">
            <span>
                <h3>Acerca de mi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vero qui dicta officia! Soluta enim temporibus saepe voluptate nihil amet itaque, perspiciatis vel maxime veniam deleniti doloribus corrupti expedita nulla?</p>
            </span>
        </div>
    </div>
