<div class="row">
    <h3>Experiencia Laboral</h3>
    <br><br><br>
    <div class= "col-lg-1"></div>
    <div class= "col-lg-11">
       <ul>
            <li>
                <img src="../../../assets/MundosE.png" alt="logo" id="logoMundos">
                <p><strong>2022 - Julio 2022</strong></p>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, non quisquam laudantium voluptatibus eveniet voluptates commodi adipisci fuga obcaecati officia est quas accusantium ab nisi, in sed soluta magni blanditiis?</p>
       </ul> 
    
    
        <br><br>

    
    
        <ul>
             <li>
                 <img src="../../../assets/logo-ubp.png"  alt="logo" id="logoUbp">
                 <p><strong>2022 - Julio 2022</strong></p>
             </li>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, non quisquam laudantium voluptatibus eveniet voluptates commodi adipisci fuga obcaecati officia est quas accusantium ab nisi, in sed soluta magni blanditiis?</p>
        </ul> 
     </div>
     


</div>


