
<div class="row">
    <h3 class="titulo">Hard & Soft Skills</h3>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            [imageSrc]= "'../../../assets/Logo-HTML.png'"
            [showImage]="true"
            [imageWidth]= "80"
            [imageHeight]="80"
        ></circle-progress>
</div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="70"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            [imageSrc]= "'../../../assets/CSS-Logo.png'"
            [showImage]="true"
            [imageWidth]= "180"
            [imageHeight]="100"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            [imageSrc]= "'../../../assets/ingles-logo.png'"
            [showImage]="true"
            [imageWidth]= "80"
            [imageHeight]="80"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            [imageSrc]= "'../../../assets/JavaScript-logo.png'"
            [showImage]="true"
            [imageWidth]= "180"
            [imageHeight]="100"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            [imageSrc]= "'../../../assets/Python-logo.png'"
            [showImage]="true"
            [imageWidth]= "80"
            [imageHeight]="80"
        ></circle-progress>
    </div>


    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="70"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [units]="''"
            [imageSrc]= "'../../../assets/logo-GitHub.png'"
            [showImage]="true"
            [imageWidth]= "150"
            [imageHeight]="80"
            [responsive]="false"
        ></circle-progress>
    </div>
</div>
